ul{
  list-style: none;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  column-gap: 30px;
  align-self: center;
  align-items: center;

  img{
    width: 25px;
    height: 25px;
  }

  p{
    font-size: 23px;
    align-self: center;
  }

  a{
    color: black;
  }

  a:hover{
    color: #2a9d8e;
    transition: 0.3s;
  }

  a.active{
    color: #2a9d8e;
  }


}


.logo-li{
  img{
    width: 59px;
    height: 24px;
  }
}